<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="ScanPortName" Value="COM2" />
    <Attribute Name="ScanBaudRate" Value="19200" />
    <Attribute Name="TaskTest" Value="0" />
    <Attribute Name="AreaCode" Value="UL" />
    <Attribute Name="ShowCellEdit" Value="0" />
  </Attributes>
  <Services>
    <!--<Service Name="ElevatorService" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="Elevator.xml" />-->
    <Service Name="CraneService" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="MiniLoad01.xml" />
  </Services>
  <Processes>
    <!--Process-->

    <!--<Process Name="ElevatorProcess" Type="App.exe, App.Dispatching.Process.ElevatorProcess">
      <Item ServiceName="ElevatorService" ItemName="TaskFinished01" />
      <Item ServiceName="ElevatorService" ItemName="TaskFinished02" />
      <Item ServiceName="ElevatorService" ItemName="CarAlarm01" />
      <Item ServiceName="ElevatorService" ItemName="CarAlarm02" />
      <Item ServiceName="ElevatorService" ItemName="ElevatorAlarm" />
    </Process>-->
    
     

    <Process Name="CraneProcess" Type="App.exe, App.Dispatching.Process.CraneProcess">
      <Item ServiceName="CraneService" ItemName="CraneTaskFinished1" />
      <Item ServiceName="CraneService" ItemName="CraneTaskFinished2" />
      <Item ServiceName="CraneService" ItemName="PLCCheck" />
      <Item ServiceName="CraneService" ItemName="CraneAlarmCode" />
    </Process>
   
  </Processes>
</Configuration>